@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="text-center">Learn about <a href="Usuario/Login" class="btn btn-primary">Login</a>.</p>
    <p class="text-center">Learn about <a href="Usuario/Registro" class="btn btn-primary">Registrate</a>.</p>
    <p class="text-center">Learn about <a href="Reserva/Index" class="btn btn-primary">Lista de Reservas</a>.</p>


</div>
